@model UserServiceModel
@{
    ViewData["Title"] = $"{Model.UserName}";
}

<h2>@ViewData["Title"]</h2>

<ul class="list-group list-group-item-info">
    <li class="Email">Email:</li>
    <li class="glyphicon-earphone">Phone:</li>
    <li class="glyphicon-camera">Cameras:</li>
</ul>
<ul class="list-group">
    <li></li>
</ul>