@model CameraServiceModel
@{
    ViewData["Title"] = "All";
}
<h2>@ViewData["Title"]</h2>

<ul class="list-group list-group-item-info">
    <li class="Email">@Model.Make @Model.Model @Model.Price</li>
    <li class=""><a href="cameras/id/details"></a></li>
</ul>